.timer {
    text-align: center;
}
.clock {
    color: white;
    margin-bottom: 0;
}
body { 
    background-color: black;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/450358587_1292108221766635_3417838001512324824_n.jpg?stp=dst-jpg_p320x320&_nc_cat=102&ccb=1-7&_nc_sid=0024fc&_nc_ohc=DRIF2tZfc6gQ7kNvgFEf428&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHRmtaxifFOo9DQjQj4AkFCluOELC1s_FlwekUjy8E-BQ&oe=66C3FC9A);
    color: white;
    font-family: Nixie One, Source Code Pro, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity:1;
}
.start {
    transition: 0.4s;
    padding: 4px 38px;
    border: none;
    border-radius: 7px;
    font-family: Source Code Pro, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: .5em;
}
.start:hover {
    transition: 0.3s;
    box-shadow: 0 6px #555;
}
.background {
    animation: transitionIn 0.75s;
    padding: 20px 20px;
    font-weight: 200;
    font-size: 3.5em;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 1);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,.55);
}
.timenum {
    outline: none;
    background-color: rgba(255,255,255,0);
    color: white;
    font-family: Nixie One, Source Code Pro, Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.Tin {
    font-size: 1em;
}
.time-display-hide {
    display: none;
}
.time-input-hide {
    display: none;
}
.zethnum{
    color: red;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 12px;
    margin-left: 8px;
    animation: transitionIn 1s;
}
.dot.shadow{
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, .15);
}
.dot.w {
    background-color: #586A6A;
}
.dot.sb {
    background-color: #DAD4EF;
}
.hide {
    display: none;
}
.settings_icon {
    height: 2em;
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    align-self: flex-end;
    animation: fadeIn 1s;
    animation-timing-function: ease-in;
    transition: .25s;
    rotate: 0deg;
}
.settings_icon:hover{
    transition: .25s;
    rotate: 35deg;
}
#url {
    justify-self: end;
    color: white;
    display: block;
    position: absolute;
    top: 95%;
    font-size: 1em;
}
#statustext {
    transition: 1s;
    opacity: 0;
    margin-bottom: 10px;
    justify-content:flex-start;
    font-size: 1.5em;
}
#time-input {
    border: 0;
}
#timebutton.fade-out{
    opacity: 0;
    transition: opacity .2;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(38px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity : 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        rotate: 0;
    }
    to {
        rotate: 35;
    }
}
