body { 
    background-color: black;
    background-image: url();
    color: white;
    font-family: Nixie One, Source Code Pro, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity:1;
}
.timer {
    text-align: center;
}
.clock {
    color: white;
    margin-bottom: 0;
}
.clock.est{
    font-size: 1em;
}
.belowtimer{
    animation: transitionIn 1s;
    display: block;
    position: relative;
    margin-top: .25%;
    left: 3px;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}
.start {
    transition: 0.4s;
    padding: 4px 38px;
    border: none;
    border-radius: 7px;
    font-family: Source Code Pro, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: .5em;
}
.start:hover {
    transition: 0.3s;
    box-shadow: 0 6px #555;
}
.background {
    animation: transitionIn 0.75s;
    padding: 20px 20px;
    font-weight: 200;
    font-size: 3.5em;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 1);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,.25);
}
.timenum {
    outline: none;
    background-color: rgba(255,255,255,0);
    color: white;
    font-family: Nixie One, Source Code Pro, Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.Tin {
    font-size: 1em;
}
.time-display-hide {
    display: none;
}
.time-input-hide {
    display: none;
}
.zethnum{
    color: red;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 12px;
    margin-left: 8px;
    animation: transitionIn 1s;
}
.dot.shadow{
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, .15);
}
.dot.w {
    background-color: #586A6A;
}
.dot.sb {
    background-color: #DAD4EF;
}
.hide {
    display: none;
}
.shiftleft {
    transition: .4s;
    right: 12px;
}
.settings_aside_class{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    background-color: #3330302f;
    height: 100vh;
    width: 400px;
    transition: .4s;
    transform: translate(-100%);
}
.settings_aside_class.settings_shown{
    transform: translate(0%);
    transition: .4s;
}
.settings_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.settings_cat{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #586A6A2f;
    padding:5px 5px;
    border-radius: 10px;
    width: 350px;
}
.settings_cat_title{
    display:flex;
    margin-top: 15px;
    font-weight: bold;
}
.settings_label{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
    align-items: center;
}
.settings_icon_class {
    z-index: 11;
    height: 2em;
    align-self: flex-end;
    transition: .25s;
    rotate: 0deg;
}
.s_input{
    color: black;
    background-color: #c3cccce3;
    border-radius: 7px;
    max-width: 100px;
    padding: 5px;
    appearance: none;
    border: none;
}
.s_dropdown{
    color: black;
    background-color: #c3cccce3;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    appearance: none;
    border: none;
}
.s_p_dropdown{
    color: black;
    background-color: #c3cccce3;
    width: 300px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    appearance: none;
    border: none;
}
.s_p_dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 8px;
    display: inline-block;
}
.i_settings_cat{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.s_toggle {
    --width: 60px;
    --height: calc((var(--width) / 2));
    --border-radius: calc((var(--height) / 2));
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}
.s_toggle__input{
    display: none;
}
.s_toggle__input:checked ~ .s_toggle__fill{
    background-color: #689A6A;
}
.s_toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s 
}
.s_toggle__input:checked ~ .s_toggle__fill::after{
    transform: translateX(var(--height))
}
.s_toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.1s;
}
#settings_icon_background {
    z-index: 10;
    display: block;
    position: absolute;
    top: 92dvh;
    right: 1em;
    background-color: #bbbbbb0f;
    border-radius: 20%;
    padding: 8px;
    transition: .25s;
    animation: fadeIn 1s;
    animation-timing-function: ease-in;
}
#settings_icon.settings_shown {
    transition: .25s;
    rotate: 65deg;
}
#settings_icon_background.settings_shown {
    transition: .25s;
    background-color: #bbb;
}
#settings_icon:hover{
    transition: .25s;
    rotate: 35deg;
}
#url {
    justify-self: end;
    color: white;
    display: block;
    position: absolute;
    top: 95%;
    font-size: 1em;
}
#statustext {
    transition: 1s;
    opacity: 0;
    margin-bottom: 10px;
    justify-content:flex-start;
    font-size: 1.5em;
}
#time-input {
    border: 0;
}
#timebutton.fade-out{
    opacity: 0;
    transition: opacity .2;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(38px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity : 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        rotate: 0;
    }
    to {
        rotate: 35;
    }
}
