
.timer {
    text-align: center;
}

.clock {
    color: white;
    margin-bottom: 0;
}

body { 
    background-color: black;
    color: white;
    font-family: Nixie One, Source Code Pro, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.start {
    transition: 0.4s;
    padding: 4px 38px;
    border: none;
    border-radius: 7px;
    font-family: Source Code Pro, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: .5em;
}
.start:hover {
    transition: 0.3s;
    box-shadow: 0 6px #333;
}
.background {
    padding: 20px 20px;
    font-weight: 200;
    font-size: 3.5em;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 1)
}
#url {
    justify-self: end;
    color: white;
    display: block;
    position: absolute;
    top: 95%;
    font-size: 1em;
}
#statustext {
    transition: 1s;
    opacity: 0;
    margin-bottom: 10px;
    justify-content:flex-start;
    font-size: 1.5em;
}
